.aws
.azure
.cache
.config
.m2
.docker
.dotnet
.gradle
.java
.jdk
.java/
.jdks/
.landscape/
.lesshst
.local/
.motd_shown
.nbprofiler/
.npm/
.profile
.python_history
.sc_history
.sonarlint/
.ssh/
.sudo_as_admin_successful
.visualvm/
.vscode-remote-containers/
.vscode-server/
.wget-hsts
.wine/
LogMX-0.log
bin/
snap/
software/
wine/
